<!DOCTYPE html>
<html lang="en" dir="ltr">
  <body>
     
    
    <div class="content">
            <div class="login-box">
                <h2 style="font-family: Bradley Hand ITC; font-size: 200%;">Register For Netbanking</h2>
                <form>

                  <div class="user-box">
                    <input type="text" name="Account Number">
                    <label>Account Number</label>
                  </div>
                  <div class="user-box">
                    <input type="password" name="Set Login Password">
                    <label>Set Login Password </label>
                  </div>                 
                   <div class="user-box">
                    <input type="password" name="Confirm Login Password">
                    <label>Confirm Login Password</label>
                  </div>
                  
                  <div class="user-box">
                    <input type="password" name="Set Transaction Password">
                    <label>Set Transaction Password</label>
                  </div>
                  <div class="user-box">
                    <input type="password" name="Confirm Transaction Password">
                    <label>Confirm Transaction Password</label>

                  </div>
                  
                  <a href="#">
                    Register
                    <span></span> 
                </a>
 
                </form>
               </div> 
    </div>
 </body>
</html>
      