<!DOCTYPE html>
<html lang="en" dir="ltr">
  
  <body>
     
    
    <div class="content">
            <div class="login-box">
                <img class="center" src="../../assets/1.png" alt="Notebook" >
                <h3 style="font-family: Lucida Console, monospace; font-size: 200%;">Your session has expired</h3>
                <form>
                    
                    <h3>For security reasons we have disabled the back button</h3>
                    <a  class="button"  [routerLink]="['/login']">
                        Click here to go to Login Page
                        <span></span> 
                    </a>
        </form>
        </div>
        </div>
          