<!DOCTYPE html>
<html lang="en" dir="ltr">
  
  <body>
     
    
    <div class="content">
            <div class="login-box">
                <img class="center" src="../../assets/2.png" alt="Notebook" >
                
               
                <form>
                    <h2 style="align-content: center;">The requested URL was not found on this server</h2>
                     <a class="button"  [routerLink]="['/home']">
                        Click here to go back on Home Page
                        <span></span> 
                    </a>
        </form>
    
        </div>
        </div>
          

