<!DOCTYPE html>
<html lang="en" dir="ltr">
  <body>
    <header id="header" class="fixed-top d-flex align-items-cente">
      <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
  
        <h1 class="logo me-auto me-lg-0"><a href="index.html">RSVZ</a></h1>
  
        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li><a class="nav-link scrollto" [routerLink]="['/custdash']">Home</a></li>
          <li><a [routerLink]="['/changepassword']"  class="nav-link scrollto">Change Password</a></li>
          <li><a [routerLink]="['/changetranspass']"  class="nav-link scrollto">Change Transaction Password</a></li>
          <li><a class="nav-link scrollto" [routerLink]="['/aboutus']">About us</a></li>
          <li><a class="nav-link scrollto" [routerLink]="['/contactus']">Contact us</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <a [routerLink]="['/home']" (click)="logout()" class="book-a-table-btn scrollto d-none d-lg-flex">Logout</a>
  
      </div>
    </header>
    <div class="sidebar">
      <div class="profile_info">
        <img src="../../assets/customer-avatar.png" class="profile_image" alt="">
        <h4>Jimin</h4>
      </div>
      <a [routerLink]="['/accountsummary']" ><i class="fas fa-sliders-h"></i><span>Account Summary</span></a>
      <a [routerLink]="['/accountstatementmain']"><i class="fas fa-money-check"></i><span>Account Statement</span></a>
      <a [routerLink]="['/fundtransfer']"><i class="fas fa-donate"></i><span>Fund Transfer</span></a>
      <a [routerLink]="['/userprofile']"><i class="fas fa-user"></i><span>User Profile</span></a>
      <a [routerLink]="['/changepassword']"><i class="fas fa-pen-nib"></i><span>Change Password</span></a>
      <a href="#"><i class="fa fa-user fa-lg"></i><span>Logout</span></a>
     </div>
    <div class="content">
<div class="login-box">
        <h1 style="font-family: Bradley Hand ITC; font-size: 200%; color: white;text-align: center;">User Details</h1>
        <section>
          
            <div >
              <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                  <tr>
                    <td>Service Number</td>
                    <td>-</td>
                    <td>{{userprofile[0].service_ref_no}}</td>
                  </tr>
                  <tr>
                    <td>Title</td>
                    <td>-</td>
                    <td>{{userprofile[0].title}}</td>
                  </tr>
                  <tr>
                    <td>First Name</td>
                    <td>-</td>
                    <td>{{userprofile[0].first_name}}</td>
                  </tr>
                  <tr>
                    <td>Middle Name</td>
                    <td>-</td>
                    <td>{{userprofile[0].middle_name}}</td>
                  </tr>
                  <tr>
                    <td>Last Name</td>
                    <td>-</td>
                    <td>{{userprofile[0].last_name}}</td>
                  </tr>
                  <tr>
                    <td>Father Name</td>
                    <td>-</td>
                    <td>{{userprofile[0].father_name}}</td>
                  </tr>
                  <tr>
                    <td>Mobile Number</td>
                    <td>-</td>
                    <td>{{userprofile[0].mobile_no}}</td>
                  </tr>
                  <tr>
                    <td>Email ID</td>
                    <td>-</td>
                    <td>{{userprofile[0].email_id}}</td>
                  </tr>
                  <tr>
                    <td>Aadhar Number</td>
                    <td>-</td>
                    <td>{{userprofile[0].aadhar_no}}</td>
                  </tr>
                  <tr>
                    <td>Date of Birth</td>
                    <td>-</td>
                    <td>{{userprofile[0].date_of_birth}}</td>
                  </tr>
                  <tr>
                    <td>Resedential Address Line 1</td>
                    <td>-</td>
                    <td>{{userprofile[0].res_addr_line1}}</td>
                  </tr>
                  <tr>
                    <td>Resedential Address Line 2</td>
                    <td>-</td>
                    <td>{{userprofile[0].res_addr_line2}}</td>
                  </tr>
                  <tr>
                    <td>Resedential Landmark</td>
                    <td>-</td>
                    <td>{{userprofile[0].res_landmark}}</td>
                  </tr>
                  <tr>
                    <td>Resedential State</td>
                    <td>-</td>
                    <td>{{userprofile[0].res_state}}</td>
                  </tr>
                  <tr>
                    <td>Resedential City</td>
                    <td>-</td>
                    <td>{{userprofile[0].res_city}}</td>
                  </tr>
                  <tr>
                    <td>Resedential Pincode</td>
                    <td>-</td>
                    <td>{{userprofile[0].res_pincode}}</td>
                  </tr>
                  <tr>
                    <td>Permanent Address Line 1</td>
                    <td>-</td>
                    <td>{{userprofile[0].perm_addr_line1}}</td>
                  </tr>
                  <tr>
                    <td>Permanent Address Line 2</td>
                    <td>-</td>
                    <td>{{userprofile[0].perm_addr_line2}}</td>
                  </tr>
                  <tr>
                    <td>Permanent Landmark</td>
                    <td>-</td>
                    <td>{{userprofile[0].perm_landmark}}</td>
                  </tr>
                  <tr>
                    <td>Permanent State</td>
                    <td>-</td>
                    <td>{{userprofile[0].perm_state}}</td>
                  </tr>
                  <tr>
                    <td>Permanent City</td>
                    <td>-</td>
                    <td>{{userprofile[0].perm_city}}</td>
                  </tr>
                  <tr>
                    <td>Permanent Pincode</td>
                    <td>-</td>
                    <td>{{userprofile[0].perm_pincode}}</td>
                  </tr>
                  <tr>
                    <td>Occupation Type</td>
                    <td>-</td>
                    <td>{{userprofile[0].occ_type}}</td>
                  </tr>
                  <tr>
                    <td>Source of Income</td>
                    <td>-</td>
                    <td>{{userprofile[0].inc_source}}</td>
                  </tr>
                  <tr>
                    <td>Gross Annual Income</td>
                    <td>-</td>
                    <td>{{userprofile[0].gross_annual_inc}}</td>
                  </tr>
                  <tr>
                    <td>Account Type</td>
                    <td>-</td>
                    <td>{{userprofile[0].acct_type}}</td>
                  </tr>
                  <tr>
                    <td>Account Status</td>
                    <td>-</td>
                    <td>{{userprofile[0].acct_status}}</td>
                  </tr>
                  <tr>
                    <td>Debit Card</td>
                    <td>-</td>
                    <td>{{userprofile[0].opt_debit_card}}</td>
                  </tr>
                  <tr>
                    <td>Net-Banking </td>
                    <td>-</td>
                    <td>{{userprofile[0].opt_netbanking}}</td>
                  </tr>
                  
                </thead>
              </table>
            </div>
            
          </section>

        </div>
        </div>


 </body>
</html>