<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADFC Withdraw</title>
    <!-- <link rel="stylesheet" href="styles\style3.css"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script> -->
  </head>
  <body>

    <input type="checkbox" id="check">
    <!--header area start-->
    <header id="header" class="fixed-top d-flex align-items-cente">
      <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
  
        <h1 class="logo me-auto me-lg-0"><a href="index.html">RSVZ</a></h1>
  
        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li><a class="nav-link scrollto" [routerLink]="['/custdash']">Home</a></li>
          <li>  <a [routerLink]="['/userprofile']"  class="nav-link scrollto">User Profile</a></li>
          <li><a [routerLink]="['/changepassword']"  class="nav-link scrollto">Change Password</a></li>
          <li><a [routerLink]="['/changetranspass']"  class="nav-link scrollto">Change Transaction Password</a></li>
          <li><a class="nav-link scrollto" [routerLink]="['/aboutus']">About us</a></li>
          <li><a class="nav-link scrollto" [routerLink]="['/contactus']">Contact us</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <a [routerLink]="['/home']" (click)="logout()" class="book-a-table-btn scrollto d-none d-lg-flex">Logout</a>
  
      </div>
    </header>
    <!--header area end-->
  
    <!--mobile navigation bar start-->
    <div class="mobile_nav">
      <div class="nav_bar">
        <img src="../../assets/customer-avatar.png" class="mobile_profile_image" alt="">
        <i class="fa fa-bars nav_btn"></i>
      </div>
      <div class="mobile_nav_items">
          <a [routerLink]="['/accountsummary']" ><i class="fas fa-sliders-h"></i><span>Account Summary</span></a>
        <a [routerLink]="['/accountstatementmain']"><i class="fas fa-money-check"></i><span>Account Statement</span></a>
        <!-- <a [routerLink]="['/imps']"><i class="fas fa-donate"></i><span>Fund Transfer</span></a> -->
        <div class="dropdown">
          <button class="dropbtn">Fund Transfer</button>
          <div class="dropdown-content">
            <a [routerLink]="['/imps']">IMPS Transfer</a>
            <a [routerLink]="['/neft']">NEFT Transfer</a>
            <a [routerLink]="['/rtgs']">RTGS Transfer</a>
          </div>
        </div>
        <a [routerLink]="['/userprofile']"><i class="fas fa-user"></i><span>User Profile</span></a>
        <a [routerLink]="['/changepassword']"><i class="fas fa-pen-nib"></i><span>Change Password</span></a>
      </div>
    </div>
    <!--mobile navigation bar end-->
    <!--sidebar start-->
    <div class="sidebar">
      <div class="profile_info">
        <img src="../../assets/customer-avatar.png" class="profile_image" alt="">
        <h4>Jimin</h4>
      </div>
      <a [routerLink]="['/accountsummary']" ><i class="fas fa-sliders-h"></i><span>Account Summary</span></a>
      <a [routerLink]="['/accountstatementmain']"><i class="fas fa-money-check"></i><span>Account Statement</span></a>
      <a [routerLink]="['/fundtransfer']"><i class="fas fa-donate"></i><span>Fund Transfer</span></a>
      <a [routerLink]="['/userprofile']"><i class="fas fa-user"></i><span>User Profile</span></a>
      <a [routerLink]="['/changepassword']"><i class="fas fa-pen-nib"></i><span>Change Password</span></a>
      <a href="#"><i class="fa fa-user fa-lg"></i><span>Logout</span></a>
     </div>
    <!--sidebar end-->
    <div class="content">
      <div class="login-box">
          <h2 style="font-family: Bradley Hand ITC; font-size: 300%;color: #e29e29;">Account Summary</h2>
          <!-- <label style="color: whitesmoke;">Account Holder Name :</label><br>
          <label style="color: whitesmoke;">Account Name :</label><br>
          <label style="color: whitesmoke;">Account Balance :</label><br> -->
          <section>

            <!-- <h4 style="font-family: Bradley Hand ITC; font-size: 200%;color: whitesmoke;">Recent Transactions</h4> -->
              <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                  <thead>
                    <tr>
                      <th>Account No</th>
                      <th>Customer Name</th>
                      <th>Balance</th>
                      <th>Service Reference number</th>
                      <th>Account type</th>
                      <th>Account Status</th>
                    </tr>
                  </thead>
                </table>
              </div>
              <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                  <tbody>
                    <tr>
                      <td>{{accountsummary[0].account_no}}</td>
                      <td>{{accountsummary[0].customer_name}}</td>
                      <td>{{accountsummary[0].balance}}</td>
                      <td>{{accountsummary[0].service_ref_no}}</td>
                      <td>{{accountsummary[0].acct_type}}</td>
                      <td>{{accountsummary[0].account_status}}</td>
                    </tr>
                   
                  </tbody>
                </table>
              </div>
            </section>
            
            
            
        </div>


</div>
</body>
</html>
  