<!DOCTYPE html>
<html lang="en" dir="ltr">
  
  <body>
     
    
    <div class="content">
            <div class="login-box">
                <img class="center" src="../../assets/Lock.jpg" alt="Notebook" >
                
               
                <form>
                    <h3 style=" font-size: 200%;">Your account has been temporarily locked due to multiple invalid login attempts.</h3>
                     <a class="button"  [routerLink]="['/forgotpassword']">
                        Click here to generate password
                        <span></span> 
                    </a>
        </form>
    
        </div>
        </div>
          

