<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="styles/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"> -->

    <title>RSVZ Bank</title>
  </head>
  <body>
    
    <div class="container">
      
      <div class="row">
       
          <div class="col-md-6">
              <div class="card">
                <!-- <img src="bg3.jpg" alt="Notebook" style="width:100%; height: 100%; position: absolute; z-index: 100;"> -->
                  <form  class="box" #contactForm="ngForm" (ngSubmit)="OnSubmit(contactForm)" novalidate>
                        
                      <p class="text-muted">Change Password</p>
                            <!-- <img src="customer-avatar.png" alt="Avatar" class="avatar"> -->
                            <input type="password" placeholder="Enter Current Transaction password" id="trans_pass" name="trans_pass" required  #trans_pass="ngModel"
                            [(ngModel)]="contact.trans_pass">
                            <input type="password" placeholder="Enter new transaction password " id="new_trans_pass" name="new_trans_pass" required  #new_trans_pass="ngModel"
                            [(ngModel)]="contact.new_trans_pass"> 
                            <input type="password" name="" placeholder="ReEnter new transaction password "id="reenter_trans_pass" name="reenter_trans_pass" required  #reenter_trans_pass="ngModel"
                            [(ngModel)]="contact.reenter_trans_pass"> 

                            <input type="submit"  value="Proceed" >
                            <input type="submit"  value="Back" >
                      
                      
                     

                  </form>
              </div>
          </div>
      </div>
  </div>
  



    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script> -->

  </body>
</html>
