
        
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
              <div class="about-img">
                <img src="../../assets/aboutus.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <h3 style="color:whitesmoke;"> We beleive there is a better way to do banking.</h3>
              <p style="color: whitesmoke;" class="fst-italic">
                A more valuable,less invasive way where customers are earned rather than bought.Our mission
                is to make banking a simple & efficient process.
              </p>
              <ul>
                <li style="color: whitesmoke;"><i class="bi bi-check-circle"></i> Better Banking Everyday.</li>
                <li style="color: whitesmoke;"><i class="bi bi-check-circle"></i> Building, managing and preserving your wealth.</li>
                <li style="color: whitesmoke;"><i class="bi bi-check-circle"></i> Banking for people with better things to do!</li>
              </ul>
              <p style="color:white;">
                A well functioning financial system is a fundamental principle of Banking, and the bank perform important functions
                for the society. They must therefore be secure. Banks should be able to make online transactions for both debit and 
                credit side in more secure manner so as to match customers satisfaction level and uphold their trust in banking with us. 
              </p>
            </div>
          </div>
  
        </div>
      </section>
        
        

