<html>
    <body>
        

          <a href="#home">Home</a>
          <a href="#news">News</a>
          <div class="dropdown">
            <button class="dropbtn">Fund Transfer
              
            </button>
            <div class="dropdown-content">
              <a [routerLink]="['/imps']">IMPS Transfer</a>
              <a [routerLink]="['/neft']">NEFT Transfer</a>
              <a [routerLink]="['/rtgs']">RTGS Transfer</a>
            </div>
          </div> 
        </body>
        </html>
        

