<!DOCTYPE html>
<html lang="en" dir="ltr">
  <body>
    <!--mobile navigation bar start-->
    <div class="mobile_nav">
      <div class="nav_bar">
        <img src="../../assets/customer-avatar.png" class="mobile_profile_image" alt="">
        <i class="fa fa-bars nav_btn"></i>
      </div>
      <div class="mobile_nav_items">
          <a [routerLink]="['/accountsummary']" ><i class="fas fa-sliders-h"></i><span>Account Summary</span></a>
        <a [routerLink]="['/accountstatementmain']"><i class="fas fa-money-check"></i><span>Account Statement</span></a>
        <!-- <a [routerLink]="['/imps']"><i class="fas fa-donate"></i><span>Fund Transfer</span></a> -->
        <div class="dropdown">
          <button class="dropbtn">Fund Transfer</button>
          <div class="dropdown-content">
            <a [routerLink]="['/imps']">IMPS Transfer</a>
            <a [routerLink]="['/neft']">NEFT Transfer</a>
            <a [routerLink]="['/rtgs']">RTGS Transfer</a>
          </div>
        </div>
        <a [routerLink]="['/userprofile']"><i class="fas fa-user"></i><span>User Profile</span></a>
        <a [routerLink]="['/changepassword']"><i class="fas fa-pen-nib"></i><span>Change Password</span></a>
      </div>
    </div>
    <!--mobile navigation bar end-->
    <!--sidebar start-->
    <div class="sidebar">
      <div class="profile_info">
        <img src="../../assets/customer-avatar.png" class="profile_image" alt="">
        <h4> {{sessionStorage.getItem('customer_id')}}</h4>
      </div>
     <a [routerLink]="['/accountsummary']" ><i class="fas fa-sliders-h"></i><span>Account Summary</span></a>
      <a [routerLink]="['/accountstatementmain']"><i class="fas fa-money-check"></i><span>Account Statement</span></a>
      <a [routerLink]="['/imps']"><i class="fas fa-donate"></i><span>Fund Transfer</span></a>
      <ul>
       <li class="bullet" style="color:white;"><span style="color:white;"> <a [routerLink]="['/imps']">IMPS Transfer</a></span></li>
        <li class="bullet" style="color:white;"><span style="color:white;">  <a [routerLink]="['/neft']">NEFT Transfer</a></span></li>
         <li class="bullet" style="color:white;"><span style="color:white;"> <a [routerLink]="['/rtgs']">RTGS Transfer</a></span></li>
        </ul>
      <a [routerLink]="['/userprofile']"><i class="fas fa-user"></i><span>User Profile</span></a>
      <a [routerLink]="['/changepassword']"><i class="fas fa-pen-nib"></i><span>Change Password</span></a>
     </div>
    <!--sidebar end-->
     
    
    <div class="content" style="align-items: center;">
            <div class="login-box">
                <h2 style="font-family: Bradley Hand ITC; font-size: 200%;">Add New Beneficiary</h2>
                <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" novalidate>

                  <!-- <div class="user-box">
                    <input type="number" id="ben_id" name="ben_id" required  #ben_id="ngModel"
                    [(ngModel)]="contact.ben_id">
                    <label>Beneficiary ID </label>
                  </div> -->
                  <div class="user-box">
                    <input type="text"id="ben_name" name="ben_name"  required  #ben_name="ngModel"
                    [(ngModel)]="contact.ben_name">
                    <div *ngIf="!ben_name?.valid && (ben_name?.dirty || ben_name?.touched)" class="error">
                      <div style="color: crimson;" *ngIf="ben_name.errors.required">
                        Beneficiary Name is required
                      </div>
                    
                  </div>
                  <label>Enter Beneficiary Name</label>
                  </div>
                  <div class="user-box">
                    <input type="number"  id="ben_account_no" name="ben_account_no" required  #ben_account_no="ngModel"
                    [(ngModel)]="contact.ben_account_no">
                    <div *ngIf="!ben_account_no?.valid && (ben_account_no?.dirty || ben_account_no?.touched)" class="error">
                      <div style="color: crimson;"*ngIf="ben_account_no.errors.required">
                        Beneficiary Account Number is required
                      </div>            
                    
                  </div>
                  <label> Enter Beneficiary Account number </label> 
                  </div>
                                
                   <!-- <div class="user-box">
                    <input type="number"  name="ben_re_enter_account" required>
                    <label>Re-enter Beneficiary Account number</label>
                  </div> -->
                  
                  <div class="user-box">
                    <input type="text" id="ben_nickname" name="ben_nickname" required  #ben_nickname="ngModel"
                    [(ngModel)]="contact.ben_nickname">
                    <div *ngIf="!ben_nickname?.valid && (ben_nickname?.dirty || ben_nickname?.touched)" class="error">
                      <div style="color: crimson;"*ngIf="ben_nickname.errors.required">
                        Beneficiary Nickname is required
                      </div>
                    
                  </div>
                  <label>Enter nick name </label>
                  </div>
                  <div class="user-box">
                    <input type="number" id="account_no" name="account_no" required  #account_no="ngModel"
                    [(ngModel)]="contact.account_no">
                    <div *ngIf="!account_no?.valid && (account_no?.dirty || account_no?.touched)" class="error">
                      <div style="color: crimson;" *ngIf="account_no.errors.required">
                        Account Number is required
                      </div>
                    </div>
                    <label>Your Account No </label>
                  </div>
                  <!-- <div class="user-box">
                    <input type="text"  name="remarks" required>
                    <label>Enter Remarks</label>

                  </div> -->
                  
                  <a [routerLink]="['/custdash']" >
                    Continue
                    <span></span> 
                </a>
                <!-- <a [routerLink]="['/custdash']" (click)="onSubmit(contactForm)" >
                  Add Beneficiary
                  <span></span> 
              </a> -->
              <button type="submit" [disabled]="!contactForm.valid" >Add Beneficiary</button>
                
                
 
                </form>
               </div> 
    </div>
 </body>
</html>
      