<!DOCTYPE html>
<html lang="en" dir="ltr">
  
  <body>
     
    
    <div class="content">
            <div class="login-box">
                <img class="center" src="../../assets/Transaction-Failed.png" alt="Notebook" >
                <h3 style=" font-size: 200%;">Please try a different payment method</h3>
               
                <form>
                     <a class="button"  [routerLink]="['/custdash']">
                Try again
                        <span></span> 
                    </a>
        </form>
   
        </div>
        </div>
          
