

<!-- <div class="right_area">
    <a [routerLink]="['/home']" class="logout_btn">Home</a >
    <a [routerLink]="['/registerfor-ib']" class="logout_btn">Register for Internet Banking</a>
  <a [routerLink]="['/openaccount']" class="logout_btn">Open New Account</a>
  <a [routerLink]="['/login']" class="logout_btn">Login</a>
  </div> -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a  [routerLink]="['/home']" class="navbar-brand">Home</a>
    <!-- <a [routerLink]="['/openaccount']" class="navbar-brand">Open New Account</a>
      <a [routerLink]="['/registerforib']" class="navbar-brand">Register for Internet Banking</a> -->
      <a [routerLink]="['/login']" class="navbar-brand">Login</a>
      <!-- <div class="right_area">
        <a [routerLink]="['/home']" class="logout_btn">Logout</a>
      </div> -->

</nav>

<router-outlet></router-outlet>

<router-outlet></router-outlet>