<!-- <div id="topbar" class="d-flex align-items-center fixed-top">
  <div class="container d-flex justify-content-center justify-content-md-between">

    <div class="contact-info d-flex align-items-center">
      <i class="bi bi-phone d-flex align-items-center"><span>+1 5589 55488 55</span></i>
      <i class="bi bi-clock d-flex align-items-center ms-4"><span> Mon-Sat: 11AM - 23PM</span></i>
    </div> -->

    <!-- <header id="header" class="fixed-top d-flex align-items-cente">
      <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
  
        <h1 class="logo me-auto me-lg-0"><a href="index.html">RSVZ</a></h1>
  
        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li><a class="nav-link scrollto" [routerLink]="['/home']">Home</a></li>
            <li><a class="nav-link scrollto" [routerLink]="['/aboutus']">About us</a></li>
            <li><a class="nav-link scrollto" [routerLink]="['/contactus']">Contact us</a></li>
            <li><a class="nav-link scrollto" [routerLink]="['/registerforib']">Register For Internent Banking</a></li>
            <li><a class="nav-link scrollto" [routerLink]="['/accountstatus']">Check Account Opening Status</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <a [routerLink]="['/login']" class="book-a-table-btn scrollto d-none d-lg-flex">Admin Login</a>
  
      </div>
    </header>

 -->

<router-outlet></router-outlet>

