<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADFC Transaction Details</title>
    <!-- <link rel="stylesheet" href="styles\style3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script> -->
  </head>
  <body>

    

    <div class="content">
        <div class="login-box">
            <h2 style="font-family: Bradley Hand ITC; font-size: 200%;">Account Statement</h2>
            <section>
                
                <div class="tbl-header">
                  <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                      <tr>
                        <th>Service Number</th>
                        <th>Customer Name</th>
                        <th>Account Status</th>
                      </tr>
                    </thead>
                  </table>
                </div>
                <div class="tbl-content">
                  <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                     
                    </tbody>
                  </table>
                  <form>
                    <a href="#">
                        Back
                        <span></span> 
                    </a>
                  </form>
                </div>
              </section>
              
              
              
          </div>

          
      </div>

</body>
</html>
  