.box {
    width: 500px;
    padding: 40px;
    top: 50%;
    left: 50%;
    background: #cda45e; /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    text-align: center;
    transition: 0.25s;
    margin-top: 100px;
  }
  
  .box input[type="text"],
  .box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid#cda45e;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }
  
  .box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  .box input[type="text"]:focus,
  .box input[type="password"]:focus {
    width: 300px;
    border-color:#cda45e;
  }
  
  .box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid#cda45e;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  
  .box input[type="submit"]:hover {
    background: #cda45e;
  }

  div.container
   {
    height: 10em;
    position: relative
    
 }
  
 div.container form {
    margin-top: 300px;
    margin-right: 300px;
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%);
    border: solid;
    left: 27%;
    border-radius: 24px;
}  