<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="styles/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"> -->

    <title>ADFC Bank</title>
  </head>
  <body>
    
    <div class="container">
      
      <div class="row">
       
          <div class="col-md-6">
              <div class="card">
                <!-- <img src="bg3.jpg" alt="Notebook" style="width:100%; height: 100%; position: absolute; z-index: 100;"> -->
                  <form  class="box" #contactForm="ngForm" (ngSubmit)="OnSubmit(contact)" novalidate>
                    <p class="text-muted"> Forgot Password</p>
                          
                          <input type="text" placeholder="Enter Account Number" id="account_no" name="account_no" #account_no="ngModel" 
                          [(ngModel)]="contact.account_no" required>
                          <input type="text" placeholder="Enter Email Id" id="email_id" name="email_id" #email_id="ngModel" 
                          [(ngModel)]="contact.email_id" required>
                          <a [routerLink]="['/forgotpassword']" (click)="OnClick(contact)">Generate OTP</a>
                          <input type="text" placeholder="Enter OTP" id="otp" name="otp" #otp="ngModel" 
                          [(ngModel)]="contact.otp" required> 
                  
                          <input type="submit" [disabled]="!contactForm.valid" value="Proceed" >
                          <input type="submit"  value="Back" >
                  </form>
              </div>
          </div>
      </div>
  </div>
  



    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script> -->

  </body>
</html>