<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Dashboard</title>
    <!-- <link rel="stylesheet" href="styles\style3.css"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script> -->
  </head>
  <body>
    <header id="header" class="fixed-top d-flex align-items-cente">
      <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
  
        <h1 class="logo me-auto me-lg-0"><a href="index.html">RSVZ</a></h1>
  
        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li><a class="nav-link scrollto" [routerLink]="['/custdash']">Home</a></li>
          <li>  <a [routerLink]="['/userprofile']"  class="nav-link scrollto">User Profile</a></li>
          <li><a [routerLink]="['/changepassword']"  class="nav-link scrollto">Change Password</a></li>
          <li><a [routerLink]="['/changetranspass']"  class="nav-link scrollto">Change Transaction Password</a></li>
          <li><a class="nav-link scrollto" [routerLink]="['/aboutus']">About us</a></li>
          <li><a class="nav-link scrollto" [routerLink]="['/contactus']">Contact us</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <a [routerLink]="['/home']" (click)="logout()" class="book-a-table-btn scrollto d-none d-lg-flex">Logout</a>
  
      </div>
    </header>
    <input type="checkbox" id="check">
    <!--sidebar start-->
    <div class="sidebar">
      <div class="profile_info">
        <img src="../../assets/goldprofile.jpg" class="profile_image" alt="">
        <h4>{{sessionStorage.getItem('customer_name')}}</h4>
      </div>
      <a [routerLink]="['/accountsummary']" ><i class="fas fa-sliders-h"></i><span>Account Summary</span></a>
      <a [routerLink]="['/accountstatementmain']"><i class="fas fa-money-check"></i><span>Account Statement</span></a>
      <a [routerLink]="['/fundtransfer']"><i class="fas fa-donate"></i><span>Fund Transfer</span></a>
      <a [routerLink]="['/userprofile']"><i class="fas fa-user"></i><span>User Profile</span></a>
      <a [routerLink]="['/changepassword']"><i class="fas fa-pen-nib"></i><span>Change Password</span></a>
      <a [routerLink]="['/home']" (click)="logout()"><i class="fa fa-user fa-lg"></i><span>Logout</span></a>
      </div>
    <div class="content">
            <div class="login-box">
                <h2 style="font-family: Bradley Hand ITC; font-size: 200%;">Welcome Back....{{sessionStorage.getItem('customer_name')}}</h2>
                
                    <p style="color: aliceblue; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">You’ll find innovation in every corner of our business. From staying ahead of the curve on technology, to continually finding ways of improving processes, to collaborating with trailblazers – bringing new ideas to life is central to the way we support people, businesses, communities and the wider economy.
                        Find out how RSVZ is powering creative thinking, spearheading change in financial services and adapting in a constantly evolving world.
                        From the launch of the India’s first credit card and contactless payments to the world’s first ATM, RSVZ has been transforming banking for the better for generations.
                        
                    </p>
                  
                  <br>
                    <p style="color: aliceblue;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">RSVZ has a longstanding tradition of partnering with fintech companies to bring innovative solutions into the market. Our range of programmes help fintech startups to innovate and grow – while bringing brilliant new ideas into the sector, for the benefit of our customers and clients. But we don’t focus on fintech alone – our initiatives for startups also support ground-breaking businesses across sectors including gamestech, lawtech and agritech</p>
                  
              </div>

            

               
             
        
      
    
    </div>


  </body>
</html>
      