<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADFC Transaction Details</title>
    <!-- <link rel="stylesheet" href="styles\style3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script> -->
  </head>
  <body>

    <input type="checkbox" id="check">
    <!--header area start-->
    <header>

      <div class="left_area">
        <h3>  RSVZ <span>Bank</span></h3>
      </div>
      <div class="right_area">
        <a href="index.html" class="logout_btn">Logout</a>
      </div>

    </header>
    <!--header area end-->
  
    <!--mobile navigation bar start-->
    
    <div class="content">
        <div class="login-box">
            <h2 style="font-family: Bradley Hand ITC; font-size: 200%;">Account Opening requests</h2>
            <section>
              <form >
                
                <div class="tbl-header">
                  <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                      <tr>
                        <th>Serial No.</th>
                        <th>Service request number</th>
                        <th>Customer Name</th>
                        <th>View Customer Details</th>
                        <th>Approve Request</th>
                        <th>Deny Request</th>
                      </tr>
                    </thead>
                  </table>
                </div>
                <div class="tbl-content">
                  <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr >
                        <td>1</td>
                        <td>213122312312</td>
                        <td>John Doe</td>
                        <td><a  [routerLink]="['/userprofile']" class="">View</a></td>
                        <td><a  [routerLink]="['/userprofile']" class="">Approve</a></td>
                        <td><a  [routerLink]="['/userprofile']" class="">Deny</a></td>
                      </tr>
                      <tr >
                        <td>2</td>
                        <td>213122312312</td>
                        <td>John Doe</td>
                        <td><a  [routerLink]="['/userprofile']" class="">View</a></td>
                        <td><a  [routerLink]="['/userprofile']" class="">Approve</a></td>
                        <td><a  [routerLink]="['/userprofile']" class="">Deny</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </form>
              </section>
              
              
              
          </div>

          
        
      </div>

</body>
</html>
  