<!DOCTYPE html>
<html lang="en" dir="ltr">
  <body>
     
    
    <div class="content">
            <div class="login-box">
               <h2 style="font-family: Bradley Hand ITC; font-size: 200%;">Open a Savings Account</h2>
                <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" novalidate >
                  <h5 style="font-family: Bradley Hand ITC; font-size: 200%;">Personal Details</h5>
                  <div class="user-box">
                   <!-- <input type="text" id="title" name="title" required  #title="ngModel" [(ngModel)]="contact.title" >-->
                    <label>Title</label><br>
                    <div *ngIf="!title?.valid && (title?.dirty || title?.touched)" class="error">
                      <div style="color:crimson;" *ngIf="title.errors.required">
                        Title is required
                      </div>
                    </div><br>
                    <div class="user-box">  
                      <select id="title" name="title" required  #title="ngModel" [(ngModel)]="contact.title">
                        <option value=""></option>
                        <option value="Mr">Mr</option>
                        <option value="Mrs">Mrs</option>
                        <option value="Miss">Miss</option>
                        <option value="Ms">Ms</option>
                      </select>
                      </div>
                  </div>

                  <div class="user-box">
                    <input type="text" id="first_name" name="first_name" required  #first_name="ngModel"
                    [(ngModel)]="contact.first_name" >
                    <div *ngIf="!first_name?.valid && (first_name?.dirty || first_name?.touched)" class="error">
                      <div style="color: crimson;"*ngIf="first_name.errors.required">
                        First Name is required
                      </div>
          </div>
                    <label>First Name </label>
                  </div>         

                   <div class="user-box">
                    <input type="text" id="middle_name" name="middle_name" required  #middle_name="ngModel"
                    [(ngModel)]="contact.middle_name" >
                    <div *ngIf="!middle_name?.valid && (middle_name?.dirty || middle_name?.touched)" class="error">
                      <div style="color: crimson;"*ngIf="middle_name.errors.required">
                        Middle Name is required
                      </div>
          </div>
                    <label>Middle Name</label>
                  </div>
                  
                  <div class="user-box">
                    <input type="text" id="last_name" name="last_name" required  #last_name="ngModel"
                    [(ngModel)]="contact.last_name" >
                    <div *ngIf="!last_name?.valid && (last_name?.dirty || last_name?.touched)" class="error">
                      <div style="color: crimson;"*ngIf="last_name.errors.required">
                        Last Name is required
                      </div>
          </div>
                    <label>Last Name</label>
                  </div>

                  <div class="user-box">
                    <input type="text" id="father_name" name="father_name" required  #father_name="ngModel"
                    [(ngModel)]="contact.father_name" >
                    <div *ngIf="!father_name?.valid && (father_name?.dirty || father_name?.touched)" class="error">
                        <div style="color: crimson;"*ngIf="father_name.errors.required">
                          Father's Name is required
                        </div>
                        </div>
                    <label>Father's Name</label>

                  </div>

                  <div class="user-box">
                    <input type="text" id="mobile_no" name="mobile_no" required  pattern="[7-9]{1}[0-9]{9}" #mobile_no="ngModel"
                    [(ngModel)]="contact.mobile_no " >
                   <div *ngIf="!mobile_no?.valid && (mobile_no?.dirty || mobile_no?.touched)" class="error">
                       <div style="color: crimson;"*ngIf="mobile_no.errors.required">
                         Mobile number is required
                       </div>
                       
                     <div style="color: crimson;"*ngIf="mobile_no.errors.pattern">
                       Mobile number should be of 10 digits and start with 7,8 or 9
                      </div>
                     </div>  
                    <label>Mobile number</label>

                  </div>

                  <div class="user-box">
                    <input type="text" id="email_id" name="email_id" required email #email_id="ngModel" [(ngModel)]="contact.email_id" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                    <div *ngIf="!email_id?.valid && (email_id?.dirty || email_id?.touched)" class="error">
                        <div style="color: crimson;"*ngIf="email_id.errors.required">
                          Email is required
                        </div>
                        <div style="color: crimson;"*ngIf="email_id.errors.pattern">
                            Invalid Email Address
                          </div>
                        <div *ngIf="email_id.errors.email">
                          Invalid Email Address
                        </div>
                      </div>
                    <label>Email Address</label>

                  </div>

                  <div class="user-box">
                    <input type="text" id="aadhar_no" name="aadhar_no" required pattern="[0-9]{12}" #aadhar_no="ngModel"
                    [(ngModel)]="contact.aadhar_no " >
                    <div *ngIf="!aadhar_no?.valid && (aadhar_no?.dirty || aadhar_no?.touched)" class="error">
                       <div style="color: crimson;"*ngIf="aadhar_no.errors.required">
                         Aadhar Card number is required
                       </div>
                       <div style="color: crimson;"*ngIf="aadhar_no.errors.pattern">
                         Aadhaar Number should be of 12 digits
                         
                       </div> 
               </div>
                    <label>Aadhar Card Number</label>

                  </div>

                  <div class="user-box">
                    <input type="date" id="date_of_birth" name="date_of_birth" required max="2003-04-22" #date_of_birth="ngModel"
                    [(ngModel)]="contact.date_of_birth " >
                    <div *ngIf="!date_of_birth?.valid && (date_of_birth?.dirty || date_of_birth?.touched)" class="error">
                        <div style="color: crimson;"*ngIf="date_of_birth.errors.required">
                          Date of Birth is required
                        </div>
            </div>
                    <label>Date of Birth</label>

                  </div>

                  <h5 style="font-family: Bradley Hand ITC; font-size: 200%;">Residential Address</h5>
                  <div class="user-box">
                    <input type="text" id="res_addr_line1" name="res_addr_line1" required maxlength="15" #res_addr_line1="ngModel"
                    [(ngModel)]="contact.res_addr_line1" >
                    <div *ngIf="!res_addr_line1?.valid && (res_addr_line1?.dirty || res_addr_line1?.touched)" class="error">
                        <div style="color: crimson;"*ngIf="res_addr_line1.errors.required">
                            Address Line 1 is required
                        </div>
                       <div style="color: crimson;"*ngIf="res_addr_line1.errors.maxlength">
                        Address Line 1 Length should be {{res_addr_line1.errors.maxlength?.requiredLength}}
                      </div>
                </div>
                    <label>Address Line 1</label>

                  </div>

                  <div class="user-box">
                    <input type="text" id="res_addr_line2" name="res_addr_line2" required maxlength="15" #res_addr_line2="ngModel"
                    [(ngModel)]="contact.res_addr_line2" >
                    <div *ngIf="!res_addr_line2?.valid && (res_addr_line2?.dirty || res_addr_line2?.touched)" class="error">
                        <div style="color: crimson;"*ngIf="res_addr_line2.errors.required">
                            Address Line 2 is required
                        </div>
                       <div style="color: crimson;"*ngIf="res_addr_line2.errors.maxlength">
                        Address Line 2 Length should be {{res_addr_line2.errors.maxlength?.requiredLength}}
                      </div>
                </div>
                    <label>Address Line 2</label>

                  </div>

                  <div class="user-box">
                    <input type="text" id="res_landmark" name="res_landmark" required maxlength="15" #res_landmark="ngModel"
                    [(ngModel)]="contact.res_landmark" >
                    <div *ngIf="!res_landmark?.valid && (res_landmark?.dirty || res_landmark?.touched)" class="error">
                        <div style="color: crimson;"*ngIf="res_landmark.errors.required">
                            Landmark is required
                        </div>
                       <div style="color: crimson;"*ngIf="res_landmark.errors.maxlength">
                        Landmark Length should be {{res_landmark.errors.maxlength?.requiredLength}}
                      </div>
                </div>
                    <label>Landmark</label>

                  </div>

                  <div class="user-box">
                    <input type="text" id="res_state" name="res_state" required maxlength="15" #res_state="ngModel"
                    [(ngModel)]="contact.res_state" >
                    <div *ngIf="!res_state?.valid && (res_state?.dirty || res_state?.touched)" class="error">
                        <div style="color: crimson;"*ngIf="res_state.errors.required">
                            State is required
                        </div>
                       <div style="color: crimson;"*ngIf="res_state.errors.maxlength">
                        State Length should be {{res_state.errors.maxlength?.requiredLength}}
                      </div>
                </div>
                    <label>State</label>

                  </div>

                  <div class="user-box">
                    <input type="text" id="res_city" name="res_city" required maxlength="15" #res_city="ngModel"
                    [(ngModel)]="contact.res_city" >
                    <div *ngIf="!res_city?.valid && (res_city?.dirty || res_city?.touched)" class="error">
                        <div *ngIf="res_city.errors.required">
                            City is required
                        </div>
                       <div style="color: crimson;"*ngIf="res_city.errors.maxlength">
                        City Length should be {{res_city.errors.maxlength?.requiredLength}}
                      </div>
                </div>
                    <label>City</label>

                  </div>

                  <div class="user-box">
                    <input type="text" id="res_pincode" name="res_pincode" required pattern="[1-9]{1}[0-9]{5}" #res_pincode="ngModel"
                    [(ngModel)]="contact.res_pincode " >
                      <div *ngIf="!res_pincode?.valid && (res_pincode?.dirty || res_pincode?.touched)" class="error">
                          <div style="color: crimson;"*ngIf="res_pincode.errors.required">
                            Pincode is required
                          </div>
                          <div style="color: crimson;"*ngIf="res_pincode.errors.pattern">
                            Pincode should be of 6 digits
                            
                          </div>  
                         
                  </div>
                    <label>Pincode</label>

                  </div>

                  <h5 style="font-family: Bradley Hand ITC; font-size: 200%;">Permanent Address</h5>
                  
                  <div class="user-box">
                    <input type="text" id="perm_addr_line1" name="perm_addr_line1" required maxlength="15" #perm_addr_line1="ngModel"
                    [(ngModel)]="contact.perm_addr_line1" >
                    <div *ngIf="!perm_addr_line1?.valid && (perm_addr_line1?.dirty || perm_addr_line1?.touched)" class="error">
                        <div style="color: crimson;"*ngIf="perm_addr_line1.errors.required">
                            Address Line 1 is required
                        </div>
                       <div style="color: crimson;"*ngIf="perm_addr_line1.errors.maxlength">
                        Address Line 1 Length should be {{perm_addr_line1.errors.maxlength?.requiredLength}}
                      </div>
                </div>
                    <label>Address Line 1</label>

                  </div>

                  <div class="user-box">
                    <input type="text" id="perm_addr_line2" name="perm_addr_line2" required maxlength="15" #perm_addr_line2="ngModel"
                    [(ngModel)]="contact.perm_addr_line2" >
                    <div *ngIf="!perm_addr_line2?.valid && (perm_addr_line2?.dirty || perm_addr_line2?.touched)" class="error">
                        <div style="color: crimson;"*ngIf="perm_addr_line2.errors.required">
                            Address Line 2 is required
                        </div>
                       <div style="color: crimson;"*ngIf="perm_addr_line2.errors.maxlength">
                        Address Line 2 Length should be {{perm_addr_line2.errors.maxlength?.requiredLength}}
                      </div>
                </div>
                    <label>Address Line 2</label>

                  </div>

                  <div class="user-box">
                    <input type="text" id="perm_landmark" name="perm_landmark" required maxlength="15" #perm_landmark="ngModel"
                    [(ngModel)]="contact.perm_landmark" >
                    <div *ngIf="!perm_landmark?.valid && (perm_landmark?.dirty || perm_landmark?.touched)" class="error">
                        <div style="color: crimson;"*ngIf="perm_landmark.errors.required">
                            Landmark is required
                        </div>
                       <div style="color: crimson;"*ngIf="perm_landmark.errors.maxlength">
                        Landmark Length should be {{perm_landmark.errors.maxlength?.requiredLength}}
                      </div>
                </div>
                    <label>Landmark</label>

                  </div>

                  <div class="user-box">
                    <input type="text" id="perm_state" name="perm_state" required maxlength="15" #perm_state="ngModel"
                    [(ngModel)]="contact.perm_state" >
                    <div *ngIf="!perm_state?.valid && (perm_state?.dirty || perm_state?.touched)" class="error">
                        <div style="color: crimson;"*ngIf="perm_state.errors.required">
                            State is required
                        </div>
                       <div style="color: crimson;"*ngIf="perm_state.errors.maxlength">
                        State Length should be {{perm_state.errors.maxlength?.requiredLength}}
                      </div>
                </div>
                    <label>State</label>

                  </div>

                  <div class="user-box">
                    <input type="text" id="perm_city" name="perm_city" required maxlength="15" #perm_city="ngModel"
                    [(ngModel)]="contact.perm_city">
                    <div *ngIf="!perm_city?.valid && (perm_city?.dirty || perm_city?.touched)" class="error">
                        <div style="color: crimson;"*ngIf="perm_city.errors.required">
                            City is required
                        </div>
                       <div style="color: crimson;"*ngIf="perm_city.errors.maxlength">
                        City Length should be {{perm_city.errors.maxlength?.requiredLength}}
                      </div>
                </div>
                    <label>City</label>

                  </div>

                  <div class="user-box">
                    <input type="text" id="perm_pincode" name="perm_pincode" required pattern="[1-9]{1}[0-9]{5}" #perm_pincode="ngModel"
                    [(ngModel)]="contact.perm_pincode " >
                      <div *ngIf="!perm_pincode?.valid && (perm_pincode?.dirty || perm_pincode?.touched)" class="error">
                          <div style="color: crimson;"*ngIf="perm_pincode.errors.required">
                            Pincode is required
                          </div>
                          
                          <div style="color: crimson;"*ngIf="perm_pincode.errors.pattern">
                            Pincode should be of 6 digits
                            
                          </div> 
                  </div>
                    <label>Pincode</label>

                  </div>

                  <h5 style="font-family: Bradley Hand ITC; font-size: 200%;">Occupation Details</h5>
                  <div class="user-box">
                    <input type="text" id="occ_type" name="occ_type" required maxlength="15" #occ_type="ngModel"
                    [(ngModel)]="contact.occ_type " >
                      <div *ngIf="!occ_type?.valid && (occ_type?.dirty || occ_type?.touched)" class="error">
                          <div style="color: crimson;"*ngIf="occ_type.errors.required">
                              Occupation type is required
                          </div>
                         <div style="color: crimson;"*ngIf="occ_type.errors.maxlength">
                          Occupation type Length should be {{occ_type.errors.maxlength?.requiredLength}}
                        </div>
                  </div>
                    <label>Occupation type</label>

                  </div>

                  <div class="user-box">
                    <input type="text" id="inc_source" name="inc_source" required maxlength="15" #inc_source="ngModel"
                    [(ngModel)]="contact.inc_source " >
                      <div *ngIf="!inc_source?.valid && (inc_source?.dirty || inc_source?.touched)" class="error">
                          <div style="color: crimson;"*ngIf="inc_source.errors.required">
                              Source of Income is required
                          </div>
                         <div style="color: crimson;"*ngIf="inc_source.errors.maxlength">
                          Source of Income Length should be {{inc_source.errors.maxlength?.requiredLength}}
                        </div>
                  </div>
                    <label>Source of Income</label>

                  </div>

                  <div class="user-box">
                    <input type="text" id="gross_annual_inc" name="gross_annual_inc" required maxlength="15" #gross_annual_inc="ngModel"
                    [(ngModel)]="contact.gross_annual_inc ">
                      <div *ngIf="!gross_annual_inc?.valid && (gross_annual_inc?.dirty || gross_annual_inc?.touched)" class="error">
                          <div style="color: crimson;"*ngIf="gross_annual_inc.errors.required">
                              Gross Annual Income is required
                          </div>
                         <div style="color: crimson;"*ngIf="gross_annual_inc.errors.maxlength">
                          Gross Annual Income Length should be {{gross_annual_inc.errors.maxlength?.requiredLength}}
                        </div>
                  </div>
                    <label>Gross Annual Income</label>

                  </div>
                  <div class="user-box">
                    <!-- <input type="text" id="title" name="title" required  #title="ngModel" [(ngModel)]="contact.title" >-->
                     <label>Account Type</label><br>
                     <div *ngIf="!acct_type?.valid && (acct_type?.dirty || acct_type?.touched)" class="error">
                       <div style="color: crimson;"*ngIf="acct_type.errors.required">
                         Account Type is required
                       </div>
                     </div><br>
                     <div class="user-box">  
                       <select id="acct_type" name="acct_type" required  #acct_type="ngModel" [(ngModel)]="contact.acct_type">
                          <option value=""></option>
                          <option value="Current">Current</option>
                          <option value="Salary">Salary</option>
                          <option value="Savings">Savings</option>                    
                       </select>
                       </div>
                   </div>
                  
                  
					        <!-- <input type="text" id="service_ref_no" name="service_ref_no" placeholder="Service Number" #service_ref_no="ngModel"   [(ngModel)]="contact.service_ref_no">
                  <input type="text" id="acct_type" name="acct_type" placeholder="Account Type" #acct_type="ngModel"   [(ngModel)]="contact.acct_type"><br>
                   <input type="text" id="acct_status" name="acct_status" placeholder="Account Status" #sacct_status="ngModel"   [(ngModel)]="contact.acct_status"> -->
                  
                  <pre class="checkbox">

                    
                                                                                  <input type="checkbox" id="opt_debit_card" name="opt_debit_card" placeholder="Opt for Debit Card" #opt_debit_card="ngModel"   [(ngModel)]="contact.opt_debit_card">Opt for Debit Card<br>
                                                                                  <input type="checkbox" id="opt_netbanking" name="opt_netbanking" placeholder="Opt for NetBanking" #sopt_netbanking="ngModel"   [(ngModel)]="contact.opt_netbanking">Opt for Net Banking<br>
                  </pre>
                
                  <input class="btn btn-primary" type="submit" value="Register">
                
                </form>
                      </div> 
    </div>
 </body>
</html>
      