<!DOCTYPE html>
<html lang="en" dir="ltr">
  <body>
     
    
    <div class="content" style="align-items: center;">
            <div class="login-box">
                <h2 style="font-family: Bradley Hand ITC; font-size: 200%;">Initiate NEFT Payment</h2>
                <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" novalidate>

                  <div class="user-box">
                    <input type="number" id="account_no" name="account_no" required  #account_no="ngModel"
                    [(ngModel)]="contact.account_no">
                    <label>Enter Your Account number</label>
                  </div>
                  <div class="user-box">
                    <input type="number"  id="recipient_acct" name="recipient_acct" required  #recipient_acct="ngModel"
                    [(ngModel)]="contact.recipient_acct">
                    <label>Enter Recepient Account number </label>
                  </div>                 
                   <div class="user-box">
                    <input type="number" id="amount" name="amount" required  #amount="ngModel"
                    [(ngModel)]="contact.amount">
                    <label>Enter Amount</label>
                  </div>
                  
                  <div class="user-box">
                    <input type="date" max="2021-04-22" min="2021-04-22" id="trans_date" name="trans_date" required  #trans_date="ngModel"
                    [(ngModel)]="contact.trans_date">
                    <label></label>
                  </div>
                  <div class="user-box">
                    <input type="text"  id="remarks" name="remarks" required  #remarks="ngModel"
                    [(ngModel)]="contact.remarks">
                    <label>Enter Remarks</label>

                  </div>
                  
                  <a [routerLink]="['/transuccess']" (click)="onSubmit(contactForm)">
                    Continue
                    <span></span> 
                </a>
                <a [routerLink]="['/addben']">
                    Add Beneficiary
                    <span></span> 
                </a>
                <a href="#">
                    Reset
                    <span></span> 
                </a>
 
                </form>
               </div> 
    </div>
    <div>
        Please note : <br>
        1. Transactions will be executed on the next working day if they are scheduled for Sundays, Nationsal Holidays, NEFT holidays(as declared by RBI) <br>
        2.Timings for NEFT : Monday-Saturday(Except 2nd and 4th Saturday) 6:00 AM - 6:30 PM
    </div>
 </body>
</html>
      