<!DOCTYPE html>
<html lang="en" dir="ltr">

<body>
     
    <div class="content" style="align-items: center;">
            <div class="login-box">
                <h2 style="font-family: Bradley Hand ITC; font-size: 200%;">Initiate NEFT Payment </h2>
                
                <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" novalidate>

                  <div class="user-box">
                    <input type="number"  id="account_no" name="account_no" required  #account_no="ngModel"
                    [(ngModel)]="contact.account_no" readonly>
                    <label>Your Account number</label>
                  </div>
                  <!-- <div class="user-box">
                    <input type="number"  id="recipient_acct" name="recipient_acct" required  #recipient_acct="ngModel"
                    [(ngModel)]="contact.recipient_acct">
                    <label>Enter Recepient Account number </label>
                  </div> -->

                  <h6 >Select the Account number from the following beneficiaries</h6>
                  <div class="user-box"> 
                    
                    
                    <select id="recipient_acct" name="recipient_acct" required  #recipient_acct="ngModel"
                    [(ngModel)]="contact.recipient_acct" >
                      <option [value]="beneficiaries.ben_account_no" *ngFor="let beneficiaries of beneficiarylist1">{{beneficiaries.ben_name}}{{beneficiaries.ben_account_no}}</option>
                    </select>
                    
                  </div>
                  
                   <div class="user-box">
                    <input type="number" id="amount" name="amount" required  #amount="ngModel"
                    [(ngModel)]="contact.amount">
                    <label>Enter Amount</label>
                  </div>
                  <div class="user-box">
                    <input type="number"  id="trans_pass" name="trans_pass" required  #trans_pass="ngModel"
                    [(ngModel)]="contact.trans_pass">
                    <label>Enter Transaction Password</label>

                  </div>
                  <div class="user-box">
                    <input type="text"  id="remarks" name="remarks" required  #remarks="ngModel"
                    [(ngModel)]="contact.remarks">
                    <label>Enter Remarks</label>

                  </div>

                
                <div class="user-box">
                  <input type="hidden"  id="ref_id" name="ref_id" required  #ref_id="ngModel"
                  [(ngModel)]="contact.ref_id">
                  </div>

                  
                  
                  <a (click)="onSubmit(contactForm)">
                    Continue
                    <span></span> 
                </a>
                <a [routerLink]="['/addben']">
                    Add Beneficiary
                    <span></span> 
                </a>
                <a href="#">
                    Reset
                    <span></span> 
                </a>
 
                </form>
               </div> 
    </div>
 </body>
</html>
      